body {
  font-family: "Orbitron", sans-serif;
  background: #050805;
  color: white;
}

/* HEADER */
header {
  text-align: center;
  padding: 30px;
  border-bottom: 2px solid #00ff88;
}

.logo {
  color: #00ff88;
  text-shadow: 0 0 10px #00ff88;
}

.subtitle {
  color: #ccc;
}

/* CARD */
.gta-card {
  background: #0c0c0c;
  border: 1px solid #00ff88;
  color: white;
  max-width: 500px;
  margin: auto;
}

/* PREÇO */
.price {
  color: #00ff88;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

/* BOTÃO */
.btn-success {
  background: #00ff88;
  border: none;
  color: black;
  font-weight: bold;
}

.btn-success:hover {
  background: #00cc6f;
}
